{% extends 'base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header bg-success text-white">
                <h3><i class="bi bi-check-circle"></i> Password Changed</h3>
            </div>
            <div class="card-body text-center">
                <i class="bi bi-shield-check fs-1 text-success mb-3"></i>
                <h4>Success!</h4>
                <p>Your password has been successfully updated.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">
                    <i class="bi bi-box-arrow-in-right"></i> Log In Now
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}